config OPPO_COMMON_SOFT
	bool "config oppo common software"
	depends on OPPO_VENDOR_EDIT
	help
	  Define this config to get project verion from sharemem.
	  Maybe this value is from CDT or dynamic identify by hardware id.
